<form #f="ngForm" (submit)="submitCredentials(f.value)" >

    <div *ngIf="notAffiche" class="alert alert-danger">Invalid Credentials !</div>

    <!-- <input #op="ngModel" ngModel required minlength="6" pattern="nidhal jelassi" type="text" class="form-control" name="options">
    <div class="aert alert-danger" *ngIf="op.invalid && op.touched">
        <p *ngIf="op.errors.required">Ce champ est obligatoire</p>
        <p *ngIf="op.errors.minlength">Le nbre de caractères minimal est 6</p>
        <p *ngIf="op.errors.pattern">Le pattern est nidhal jelassi</p>
    </div>
     -->
    
    <label for="name">Login</label>
    <input #in="ngModel" ngModel email required type="text" class="form-control" name="email" id="name">

    <div class="alert alert-danger" 
    *ngIf="in.invalid && in.touched"
    >Veuilez saisir une adresse mail valide</div>

    <label for="pwd">Password</label>
    <input ngModel required type="text" class="form-control" name="password" id="pwd">
    
    <!-- <label for="section">Section</label>
    <select [ngModel]="sectionDefault" name="section" id="section" class="form-control">
        <option value="gl">Génie Logiciel</option>
        <option value="dm">Développement mobile</option>
        <option value="dsen">Data Science</option>
    </select>
    <label for="resume">Resume</label>
    <input [(ngModel)]="resumeDefault" type="text" class="form-control" name="resume" id="resume">
    <div>
        {{resumeDefault}}
    </div>

    <pre>
        {{ f.value | json}}
    </pre> -->
    
    <button class="btn btn-primary" type='submit'>Submit</button>
</form>
