<div class="container" >
    <form #f="ngForm" (submit)="submitPerson(f.value)">
      <label for="nom">Nom</label>
      <input ngModel required type="text" class="form-control" id="nom" name="nom">
    
      <label for="prenom">Prénom</label>
      <input ngModel required type="text" class="form-control" id="prenom" name="prenom">
    
      <label for="age">Age</label>
      <input  ngModel required type="number" class="form-control" id="age" name="age">
    
      <label for="profession">Profession</label>
      <input ngModel required type="text" class="form-control" id="profession" name="profession">
    
      <label for="path">Url de l'avatar</label>
      <input ngModel type="text" class="form-control" id="path" name="avatar">
  
      <button [disabled]="f.invalid" class="btn btn-primary" type='submit'>
        Ajouter CV
      </button> 
    </form>
    </div>
  