<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a class="list-group-item"
                *ngFor="let serv of listServeurs"
                [routerLink] ="['/serveurs', serv.id]"
                [queryParams] = "{allowEdit : serv.id == 3 ? '1' : '0' }">
            {{serv.name }} </a>
            </div>
        </div>
        <div class="col-md-6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

