<div class="container alert alert-info col-md-8">
    <form #f="ngForm" (submit)="submitPerson()" class="well form-horizontal">
                 <div class="profile-userpic">
                     <img src="" class="img-responsive" alt="">
                   </div>
                <fieldset>
                   <div class="form-group">
                      <label class="col-md-4 control-label">Prénom</label>
                      <input [(ngModel)]="updatedPerson.prenom" class="form-control" required="true" type="text" name="prenom"></div>
                      
                   <div class="form-group">
                      <label class="col-md-4 control-label">Nom</label>
                      <input [(ngModel)]="updatedPerson.nom" class="form-control" required="true" type="text" name="nom"></div>
                      
                   <div class="form-group">
                      <label class="col-md-4 control-label">Age</label>
                      <input [(ngModel)]="updatedPerson.age" class="form-control" required="true" type="text" name="age"></div>
                  
            
                   <div class="form-group">
                      <label class="col-md-4 control-label">Profession</label>
                      <input [(ngModel)]="updatedPerson.profession" class="form-control" type="text" name="profession"></div>
                      
                   </fieldset>
           <button class="btn-success" type="submit">Valider</button>
   </form>
  </div>
  